.header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: fixed;
  top: 0;
  left: 240px;
  gap: 20px;
  padding-right: 10px;
  width: calc(100% - 240px);
  height: 10vh;
  background-color: #ffffff;
  z-index: 1000;
}

.settings-link {
  display: inline-block;
  text-decoration: none;

  .settings-icon {
    height: 35px;
    width: 35px;
    color: #0168ad;
    cursor: pointer;
    transition: opacity 0.2s, transform 0.2s;

    &:hover {
      opacity: 0.7;
      transform: rotate(90deg);
    }
  }
}

.profile-container {
  position: relative;
  display: inline-block;
}

.user-icon {
  height: 45px;
  width: 45px;
  color: #0168ad;
  cursor: pointer;
  transition: opacity 0.2s, transform 0.2s;

  &:hover {
    opacity: 0.7;
    transform: scale(1.1);
  }
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background-color: rgb(0, 2, 143);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  box-shadow: 0 5px 10px rgba(2, 2, 2, 0.658);
  min-width: 200px;
  z-index: 1000;
  margin-top: 5px;
  animation: slideDown 0.2s ease-out;

  &.show {
    display: block;
  }

  .user-info {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #020094;

    p {
      margin: 0;
      font-weight: bold;
      color: #ffffff;
      font-family: Verdana, Geneva, Tahoma, sans-serif;
    }
  }

  a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.17s;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    &:hover {
      background-color: #1d46ff;
    }

    &:last-child {
      border-bottom-left-radius: 5px;
      border-bottom-right-radius: 5px;
    }
  }
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
