body {
    display: flex;
    flex-direction: row;
    background-color: rgb(247, 247, 247);
    margin: 0px;
}

h1 {
    color: rgb(0, 0, 151);
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
}

a {
    text-decoration: none;
    color: black;
    margin: 0px;
}

h3 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
}

.gif {
    height: 30px;
    width: 30px;
    position: relative;
}

.gif-org a {
    display: flex;
    align-items: center;
    gap: 5px;
}

.contato {
    width: 20px;
    height: 20px;
}

.barr {
    display: flex;
    flex-direction: column;
    gap: 10vh;
    position: inherit;
    padding: 15px;
    width: 19vw;
    height: 97vh;
    background-color: white;
    border-right: 1px solid rgba(150, 150, 150, 0.26);
}

.bar-text {
    display: flex;
    align-items: center;
    gap: 1px;
    flex-direction: column;
    padding: 0px;
}

.cab {
    display: flex;
    justify-content: end;
    align-items: center;
    position: absolute;
    gap: 20px;
    padding-right: 10px;
    width: 98vw;
    height: 10vh;
    background-color: #ffffff;
    border-bottom: 1px solid rgba(0, 0, 0, 0.103);
}

.user {
    height: 45px;
    width: 45px;
    cursor: pointer;
}

.settings {
    height: 35px;
    width: 35px;
}

.profile-container {
    position: relative;
    display: inline-block;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: rgb(0, 2, 143);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(2, 2, 2, 0.658);
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu.show {
    display: block;
}

.dropdown-menu .user-info {
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    background-color: #020094;
}

.dropdown-menu .user-info p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

.dropdown-menu a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.17s;
    cursor: pointer;
}

.dropdown-menu a:hover {
    background-color: #1d46ff;
}

.profile-container-sidebar {
    position: relative;
    display: flex;
    margin-top: 20px;
}

.user-sidebar {
    height: 40px;
    width: 40px;
    cursor: pointer;
}

.dropdown-menu-sidebar {
    display: none;
    position: absolute;
    top: 50px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    min-width: 200px;
    z-index: 1000;
}

.dropdown-menu-sidebar.show {
    display: block;
}

.dropdown-menu-sidebar .user-info {
    padding: 10px;
    border-bottom: 1px solid rgb(255, 255, 255);
    background-color: #f9f9f9;
}

.dropdown-menu-sidebar .user-info p {
    margin: 0;
    font-weight: bold;
    color: #ffffff;
}

.dropdown-menu-sidebar a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #ffffff;
    transition: background-color 0.10s;
}

.dropdown-menu-sidebar a:hover {
    background: #00064a;
    background: linear-gradient(180deg, rgba(0, 6, 74, 1) 0%, rgba(0, 26, 158, 1) 50%, rgba(0, 30, 255, 1) 100%);
}

.content {
    padding: 20px;
    margin-left: 0;
    margin-top: 10vh;
}

.content h2 {
    color: #0168ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
    text-align: center;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
    text-align: center;
}

.dashboard-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    justify-content: center;
    flex-wrap: wrap;
}

.dashboard-card {
    background: #0274ff;
    background: linear-gradient(180deg, rgba(0, 106, 228, 0.966) 0%, rgb(195, 241, 255) 100%);
    border-radius: 30px;
    padding: 20px;
    flex: 0 0 300px;
    box-shadow: 0 2px 20px rgb(184, 184, 184);
    text-align: center;
    color: white;
}

.dashboard-card h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.dashboard-card p {
    color: #ffffff;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 15px;
}

.card-link {
    display: inline-block;
    padding: 10px 20px;
    background-color: rgb(113, 203, 255);
    color: rgb(255, 248, 248);
    text-decoration: none;
    border-radius: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

.card-link:hover {
    background-color: rgb(137, 218, 255);
}
