body {
    font-family: Arial, sans-serif;
    background: #3c5885;
    background: linear-gradient(0deg, rgba(60, 88, 133, 1) 0%, rgba(5, 4, 94, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: #75b3ff;
    background: linear-gradient(0deg, rgb(64, 149, 253) 0%, rgba(255, 255, 255, 1) 100%);
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    height: 400px;
    width: 400px;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: #000000;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

label {
    display: block;
    margin-bottom: 5px;
    color: #111111;
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
}

.btn-login {
    width: 100%;
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.btn-login:hover {
    background-color: #0056b3;
}

p {
    margin-top: 20px;
    color: #000000;
}

a {
    color: #ffffff;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
