.content {
padding-right: 100px;
 
}
.content h2 {
    color: rgb(0, 0, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin-left: 10px;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
}

.chamados-section {
    display: flex;
    gap: 20px;
    margin-top: 20px;
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
}

.new-chamado, .chamados-list {
    background: #0274ff;
    background: linear-gradient(180deg, rgba(0, 115, 255, 1) 0%, rgba(255, 255, 255, 1) 100%);    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    height: 50vh;
    width: 25vw;
    padding: 20px;
    flex: 1;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.new-chamado h3, .chamados-list h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
    color: #333;
}

input, select, textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 4px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

button {
    padding: 10px;
    background-color: rgb(0, 119, 255);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
}

button:hover {
    background-color:  #0168ad;
}

.chamado-item {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 15px;
    margin-bottom: 15px;
}

.chamado-item:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

.chamado-item h4 {
    color:  #0168ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    margin-bottom: 5px;
}

.chamado-item p {
    margin: 5px 0;
    color: #000000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
