.content {
    padding: 20px;
    margin-left: 19vw;
    margin-top: 10vh;
}

.content h2 {
    color:  #0168ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #000000;
}

.finance-overview {
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.card {
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    padding: 20px;
    width: 230px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.card h3 {
    color: #0168ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.card p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #000000;
}

.transactions {
    margin-top: 40px;
}

.transactions h3 {
    color: #0168ad;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

th, td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

th {
    background-color: #f9f9f9;
    color: #3582b6;
    font-weight: bold;
}

td {
    color: #000000;
}
