.content {
    padding: 20px;
    margin-left: 19vw;
    margin-top: 10vh;
}

.content h2 {
    color: rgb(0, 0, 151);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 32px;
    margin-bottom: 10px;
}

.content p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    color: #333;
}

.about-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;
}

.about-card {
    background: #0274ff;
    background: linear-gradient(180deg, rgba(0, 115, 255, 1) 0%, rgb(171, 204, 248) 100%);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.about-card h3 {
    color: rgb(255, 255, 255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

.about-card p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 10px;
}

.about-card ul {
    list-style-type: disc;
    padding-left: 20px;
}

.about-card li {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    color: #ffffff;
    margin-bottom: 5px;
}
